/**
 * Blackbox simple style, just customize it like you want
 */
#blackbox .node .container{
  max-width: 100% !important;
}
#block-blackbox-blackbox {
  position:fixed;
  right: 0;
  visibility: hidden;
}
.blackbox-show {
  visibility: visible;
}

